@using System.Security.Claims
@inject IProjectService ProjectService
@inject AuthenticationStateProvider AuthStateProvider
@implements IDisposable

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <h3>Error: 401 Not Authorized</h3>
                    <p>You are not authorized to access this feature.<br/>
                        Please <a href="login">Log In</a> or <a href="register">Register an Account</a> to access this feature.</p>
				</NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code {
    protected override void OnInitialized()
    {
        AuthStateProvider.AuthenticationStateChanged += OnAuthStateChanged;
    }

    public async void OnAuthStateChanged(Task<AuthenticationState> task)
    {
        var state = await task;
        if(state!= null && state.User.Identity!.IsAuthenticated)
        {
            var roles = state.User.Claims
                .Where(c => c.Type == ClaimTypes.Role)
                .Select(c => c.Value)
				.ToList();
            if (roles.Contains("Admin"))
            {
                // Perform admin-specific initialization
                Console.WriteLine("Admin user authenticated.");
                // Load projects or any other data needed after authentication"))
                await ProjectService.LoadAllProjects(); // Load projects or any other data
            }
            else
            {
                // Perform user-specific initialization
                Console.WriteLine("Regular user authenticated.");
            }
			
        } 
	}

    public void Dispose()
    {
        AuthStateProvider.AuthenticationStateChanged -= OnAuthStateChanged;
	}
}
